# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Local environment files
.env
.env.local
.venv
venv/
ENV/

# Static files
staticfiles/

# Media files
media/
